:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
    --cf-body-font: 'Roboto', sans-serif;
    --cf-heading-font: 'Racing Sans One', cursive;
    --cf-subtitle-font: 'Fira Sans', sans-serif;
}

.navbar {
    color: var(--cf-light);
}

.nav-item {
    color: var(--cf-light);
}

.nav-item a:hover {
    color: var(--cf-light) !important;
}

.btn {
    color: var(--cf-dark);
    background-color: var(--cf-highlight);
    border-color: var(--cf-highlight)
}

html,
body {
    height: 100%;
    font-family: var(--cf-body-font);
}

body {
    
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_576.png");
    background-color: var(--cf-darkblue);
    background-position: top center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

#action-text {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.mainTitle,
.subTitle {
    color: var(--cf-light);
}

.mainTitle {
    font-family: var(--cf-heading-font);
    font-size: 2.6rem;
    line-height: 2rem;
    /* letter-spacing: 0.08rem; */
}

.subTitle {
    font-family: var(--cf-subtitle-font);
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 200;
}

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {
    body {
        background-image: url(/img/LandingPage_768.png);
        background-position: top right;
    } 
    .mainTitle {        
        font-size: 3.4rem;
        line-height: 3rem;
    }
    
    .subTitle {        
        font-size: 1.3rem;
        line-height: 1rem;
        font-weight: 200;
    }

    #action-text {
        padding-bottom: 3rem;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-image: url(/img/LandingPage_992.png);
    } 
    #action-text {
        padding-bottom: 0;
        justify-content: start;
        align-items: center;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-image: url(/img/LandingPage_1200.png);
    }
}

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-image: url(/img/LandingPage_1400.png);
    }

    #action-text {
        padding-left: 3rem;
    }
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        background-image: url(/img/LandingPage_1920.png);
        background-size: cover;
    }

        .mainTitle {        
        font-size: 4.7rem;
        line-height: 4.1rem;
    }
    
    .subTitle {        
        font-size: 1.9rem;
        line-height: 1.9rem;
        font-weight: 400;
    }
}